.footer {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 67px auto 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}
.footer__copyright {
  margin: 0;
}
@media screen and (max-width: 568px) {
  .footer {
    display: flex;
    max-width: 283px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 48px;
  }
}

@media screen and (min-width: 569px) and (max-width: 950px) {
  .footer {
    width: 581px;
  }
}