.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.form__fieldset {
  display: flex;
  flex-flow: column;
  justify-content: center;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
}
.form__input-title {
  border: none;
  border-bottom: solid;
  margin-bottom: 30px;
}
.form__input-description {
  border: none;
  border-bottom: solid;
  margin-bottom: 48px;
}

.form__save-button {
  background: #000000;
  color: white;
  margin: 0 auto;
  border-radius: 2px;
  width: 358px;
  height: 50px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.form__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 568px) {
    .form__save-button{
        width: 238px;
        height: 46px;
    }
}

