@font-face {
  font-family: "Inter-Medium";
  src: url(../fonts/Inter-Medium.woff);
}
@font-face {
  font-family: "Inter-Regular";
  src: url(../fonts/Inter-Regular.woff);
}
.profile {
  display: flex;
  align-items: center;
  padding-top: 36px;
}
.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  font-family: "Inter-Medium", Arial, sans-serif;
  font-style: normal;
}
.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}
.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  font-family: "Inter-Regular", Arial, sans-serif;
  font-style: normal;
}
.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.profile__add-button:hover {
  border: 3px solid #545454;
  background-image: url(../images/Vector.svg);
  cursor: pointer;
}
.profile__edit-button {
  align-self: center;
  margin-left: 18px;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #ffffff;
}
.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }
  .profile__title {
    font-size: 22px;
    line-height: 27px;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
  }
  .profile__add-button {
    width: 100%;
  }
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
