<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Around the World</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="<%= require('./favicon.ico')%>"
    />
  </head>
  <body class="page">
    <div class="page__content">
      <header class="header page__section">
        <img
          class="header__logo"
          src="<%= require('./images/logo.svg')%>"
          alt="Icon that says around the US"
        />
      </header>
      <main class="content">
        <section class="profile page__section">
          <img
            class="profile__image"
            src="<%= require('./images/jacques-cousteau.svg')%>"
            alt="Picture of Jacques Cousteau"
          />
          <div class="profile__info">
            <h1 class="profile__title">Jacques Cousteau</h1>
            <button
              id="btn-edit"
              class="profile__edit-button"
              type="button"
            ></button>
            <div class="modal modal_closed" id="edit-modal">
              <div class="modal__container">
                <h1 class="modal__title">Edit profile</h1>
                <form class="form" id="form-profile" novalidate>
                  <label class="form__label-name"></label>
                  <input
                    class="form__input form__input-title"
                    type="text"
                    id="owner-name"
                    placeholder="Name"
                    name="nameInput"
                    maxlength="40"
                    minlength="2"
                    required
                  />
                  <span class="form__error" id="owner-name-error"></span>
                  <label class="form__label-description"></label>
                  <input
                    class="form__input form__input-description"
                    type="text"
                    placeholder="Description"
                    id="owner-description"
                    maxlength="200"
                    minlength="2"
                    name="descriptionInput"
                    required
                  />
                  <span class="form__error" id="owner-description-error"></span>

                  <button
                    class="form__save-button"
                    id="btn-submit"
                    type="submit"
                    disabled
                  >
                    Save
                  </button>
                </form>
                <button
                  class="modal__close-button modal-btn-close"
                  type="button"
                  id="edit-modal-close"
                ></button>
              </div>
            </div>
            <div class="modal modal_closed" id="cards-modal">
              <div class="modal__container">
                <h1 class="modal__title">New Place</h1>
                <form class="form" id="cards-form">
                  <label class="form__label-name"></label>
                  <input
                    id="card-name"
                    name="title"
                    class="form__input"
                    type="text"
                    placeholder="Title"
                    minlength="1"
                    maxlength="'30"
                    required
                  />
                  <span class="form__error" id="card-name-error"></span>
                  <label class="form__label-description"></label>
                  <input
                    class="form__input"
                    type="url"
                    placeholder="Image Link"
                    name="imageLink"
                    id="card-link"
                    required
                  />

                  <span class="form__error" id="card-link-error"></span>
                  <button
                    class="form__save-button"
                    id="cards-submit"
                    type="submit"
                    disabled
                  >
                    Save
                  </button>
                </form>
                <button
                  class="modal__close-button modal-btn-close"
                  type="button"
                  id="cards-modal-close"
                ></button>
              </div>
            </div>
            <section class="modal" id="image-modal">
              <div class="modal__image-container">
                <button
                  class="modal__image-close-button modal-btn-close"
                  type="button"
                >
                  <img
                    src="<%= require('./images/close-icon.svg')%>"
                    alt="close"
                    class="modal__close-button-image"
                    id="image-modal-close"
                  />
                </button>
                <img class="modal__preview-image" src=" " alt=" " />
                <h3 class="modal__image-description"></h3>
              </div>
            </section>
            <p class="profile__description">Explorer</p>
          </div>
          <button
            class="profile__add-button"
            type="button"
            id="add-button"
          ></button>
        </section>
        <section class="cards">
          <template id="card-template">
            <article class="card" id="card-list">
              <img src=" " alt="" class="card__image" />
              <h2 class="card__description"></h2>
              <button class="card__like-button" type="button"></button>

              <button class="card__remove" type="button">
                <img
                  src="<%= require('./images/Trash.svg')%>"
                  alt="trash icon"
                  class="card__remove-button"
                />
              </button>
            </article>
          </template>
        </section>
      </main>
      <footer class="footer">
        <p class="footer__copyright">&copy;2022 Around The U.S.</p>
      </footer>
    </div>
  </body>
</html>
